<?xml version="1.0" encoding="utf-8" ?><Config><TimerInterval>10000</TimerInterval><MangosName>mangosd</MangosName><RealmName>realmd</RealmName><MangosHosted>1</MangosHosted><RealmHosted>1</RealmHosted><AppPath>.</AppPath><RealmPath>.</RealmPath><DatabaseHost>localhost</DatabaseHost><DatabaseUsername>root</DatabaseUsername><DatabasePassword>password</DatabasePassword><MangosDatabase>mangos</MangosDatabase><RealmDatabase>realmd</RealmDatabase><Signed></Signed></Config>